.light-mode {
      background: #ffffff;
      color: #000000;
      transition: background 0.3s, color 0.3s;
    }

.dark-mode {
      background: #121212;
      color: #f1f1f1;
      transition: background 0.3s, color 0.3s;
    }

    select {
  padding: 5px 10px;
  margin: 20px;
  border-radius: 5px;
}

.highlight {
background-color: yellow;
padding: 10px;
border: 1px solid black;
}
